body {
	color: white;
	background-image: url("http://www.publicdomainpictures.net/pictures/210000/velka/geometric-woman-runner.jpg");
	background-size: 100%;
	background-attachment: fixed;
}

menu {
	display: inline-block;
}

.wrapper {
	margin: 50px auto;
	max-width: 800px;
	padding: 20px;
}

.header {
	padding: 30px 0;
	border-bottom: solid;
}

.content {
	float: right;
	width: 75%;
	border-left: solid;
	padding-left: 30px;
}

nav {
	float: left;
	width: 15%;
}

nav ul {
	list-style-type: none;
	padding: 0;
}
